
				*{
					box-sizing: border-box;
				}
				
				img:hover{
					opacity: 0.5;
				}
				
				img{
				opacity: 1;
				transition: .3s ease-in-out;
	
				}


				
				.gallery {
					float:left;
					max-width: 100%;
					width: 33.33%;
					margin: auto;
					padding: 2px;
			
				}


				.wrap {
					max-width: 1200px;
					margin: auto;

				}

				#banner {
					max-width: 100%;
					max-height: 1200px;
					border-radius: 4%;
					max-width: 1200px;
					margin: auto;
				}

				.link {
					position: relative;
					text-align: center;
					font-size: 30px;
					padding: 30px;

				}

				.link a{
					
					padding: 100px;

				}
				#backtotop{
					
					position: fixed;
					bottom: 30px;
					right: 20px;
				}


	

				#MenuDocTrai{
					
					    position: absolute;
    					left: 1px;
    					font-size: 30px;
    					font-style: italic;
						
				}

				#padingimg {
					padding-top:  220px;
				}